<main class="form-signin w-100 m-auto text-center ">
    <form [formGroup]="registerForm">
      
      <h1 class="h3 mb-3 fw-normal mt-5">Register</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="firstname" placeholder="Emre" formControlName="firstName">
        <label for="floatingInput">First Name </label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="lastname" placeholder="Yavaş" formControlName="lastName">
        <label for="floatingInput">Last Name </label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email </label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Parola</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" (click)="register()"  >Kayıt Ol</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>
  