<table class="table">
    <thead>
        <th>İd</th>
        <th>Kiralayan</th>
        <th>Araba Modeli</th>
        <th>Kiralama Tarihi Başlangıç</th>
        <th>Kiralama Tarihi Bitiş</th>
   
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.id}}</td>
            <td>{{rental.fullName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
            
        </tr>
    </tbody>
</table>